<style>
p{
    text-align: center;
}
figcaption {
    display:block;
}
#main{
background-color: burlywood;
}
#title{
    text-align: center;
}
#img-div{
    background-color: rgb(255, 255, 255);
    max-width: 20%;
    height: auto;
    display: block;
    padding: 10px;
    margin: auto;
}
#image{
    max-width: 90%;
    height: auto;
    padding: auto;
    margin: auto;
    display: block;
    
}
#img-caption{
    justify-self:center;
    
}
#tribute-info{
    justify-content: stretch;
}

</style>